<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in - Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- fa pls -->
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />

    <!-- animate.css -->
    <link
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/animate.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- under overlay stuff -->
    <div class="body"></div>

    <!-- the panel -->
    <div class="overlay">
      <div class="ui-panel login-panel animated bounceInDown">
        <header>
          <div class="left logo">
            <a href="#logo"><span>RA</span>S</a>
          </div>
        </header>

        <div class="login-form">
          <div class="subtitle">Login or register</div>
          <input type="text" placeholder="Username" />
          <input type="password" placeholder="Password" />
        </div>

        <footer>
          <div class="left social-login">
            Login with
            <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
          </div>

          <div class="right form-actions">
            <a href="/index" class="ui-button inactive register">Login</a>
          </div>
          <br />
          <div class="left social-login">
            Doesn't have an account?
            <a href="/login" class="ui-button inactive login login-register"
              >Register</a
            >
          </div>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
    <!-- get dem fancy typefaces -->
    <script type="text/javascript" src="//use.typekit.net/psm0wvc.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      } catch (e) {}
    </script>
  </body>
</html>
